p {
  font-size: 18px;
}


#titulo-principal {
  color: #0056b3;
}

.parrafo-destacado {
  font-weight: bold;
  color: #555;
}

.tarjeta-producto {
  width: 300px;
  padding: 15px;
  border: 1px solid #ccc;
  margin: 20px;
  background-color: #f9f9f9;
  box-sizing: border-box;
}

.tarjeta-producto img {
  width: 100%; 
  height: auto;
}
